.desktop {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(16.79, 23.5, 83.94) 0%, rgba(16.79, 23.5, 83.94, 0) 100%);
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  width: 291px;
  top: 70px;
  left: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 273px;
  top: 106px;
  left: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  width: 723px;
  top: 187px;
  left: 110px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image {
  width: 55px;
  left: 110px;
  position: absolute;
  height: 55px;
  top: 303px;
  object-fit: cover;
}

.desktop .img {
  width: 57px;
  left: 186px;
  position: absolute;
  height: 55px;
  top: 303px;
  object-fit: cover;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 206px;
  top: 431px;
  left: 110px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .i-m-tech-lead-at-CWI {
  position: absolute;
  width: 788px;
  top: 511px;
  left: 109px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap {
  top: 748px;
  position: absolute;
  width: 278px;
  height: 54px;
  left: 108px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 278px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .sinal-de-seta-para {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 12px;
  left: 150px;
  object-fit: cover;
}

.desktop .overlap-group {
  top: 825px;
  position: absolute;
  width: 278px;
  height: 54px;
  left: 108px;
}
