.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .text-wrapper {
  width: 291px;
  top: 70px;
  left: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-2 {
  width: 273px;
  top: 106px;
  left: 113px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin: 1% 0;
}

.about .p {
  width: 723px;
  top: 187px;
  left: 110px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  margin: 1.5% 0;
}

.about .image {
  width: 55px;
  left: 110px;
  height: 55px;
  top: 303px;
  object-fit: cover;
}

.about .img {
  width: 57px;
  left: 186px;
  height: 55px;
  top: 303px;
  object-fit: cover;
}

.about .text-wrapper-3 {
  width: 206px;
  top: 431px;
  left: 110px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  margin: 2% 0;
}

.about .i-m-tech-lead-at-CWI {
  width: 788px;
  top: 511px;
  left: 109px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.about .overlap {
  top: 748px;
  width: 278px;
  height: 54px;
  left: 108px;
}

.about .text-wrapper-4 {
  width: 278px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;

}

.about .sinal-de-seta-para {
  width: 32px;
  height: 32px;
  top: 12px;
  left: 150px;
  object-fit: cover;
}

.about .overlap-group {
  top: 825px;
  width: 278px;
  height: 54px;
  left: 108px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}