<div class="v1_3"><span class="v1_4">Hi, My name is</span><span class="v1_5">Kevin Lima</span><span class="v1_6">Tech
        Lead, Competent in Angular.js, Java and Springboot in microservices context</span>
    <span class="v2_15">About</span>
    <span class="v2_16">I'm Tech Lead at CWI Company and I
        work with Java and Springboot. I really enjoy solving problems and sharing knowledge with other people and
        learning from them. I assist in discovering the possibility of adaptation to take advantage of market
        trends, reconciling technology with business.</span>
</div>