<div class="about">
  <div class="text-wrapper">Hi, My name is</div>
  <div class="text-wrapper-2">Kevin Lima</div>
  <p class="p">Tech Lead, Competent in Angular.js, Java and Springboot in microservices context</p>
  <div class="cards">
    <a href="https://www.linkedin.com/in/kevinglima/"> 
      <img class="image" alt="linkedin" ngSrc="../../assets/linkedin-logo.png" width="55" height="55" />
    </a>
    <a href="https://github.com/kevinlimak10">
      <img class="img" alt="github" ngSrc="../../assets/github-logo.png" width="55" height="55" />
    </a>
    <a href="https://wa.me/5551995529463">
      <img alt="whatsapp" ngSrc="../../assets/whatsapp.png" width="55" height="55" />
    </a>
  </div>
  <div class="text-wrapper-3">About</div>
  <p class="i-m-tech-lead-at-CWI">
    I&#39;m Tech Lead at CWI Company and I work with Java and Springboot. I really enjoy solving problems and
    sharing knowledge with other people and learning from them. I assist in discovering the possibility of
    adaptation to take advantage of market trends, reconciling technology with business.
  </p>
</div>