<div class="desktop">
    <div class="div">
      <div class="text-wrapper">Hi, My name is</div>
      <div class="text-wrapper-2">Kevin Lima</div>
      <p class="p">Tech Lead, Competent in Angular.js, Java and Springboot in microservices context</p>
    
      <img class="image" ngSrc="../../assets/image-1.png" />
      <img class="img" ngSrc="../../assets/image-2.png" />
      <div class="text-wrapper-3">About</div>
      <p class="i-m-tech-lead-at-CWI">
        I&#39;m Tech Lead at CWI Company and I work with Java and Springboot. I really enjoy solving problems and
        sharing knowledge with other people and learning from them. I assist in discovering the possibility of
        adaptation to take advantage of market trends, reconciling technology with business.
      </p>
      <div class="overlap">
        <div class="text-wrapper-4">Resume</div>
        <img class="sinal-de-seta-para" src="img/sinal-de-seta-para-baixo-para-navegar-2.png" />
      </div>
      <div class="overlap-group">
        <div class="text-wrapper-4">Projects</div>
        <img class="sinal-de-seta-para" src="img/sinal-de-seta-para-baixo-para-navegar-2.png" />
      </div>
    </div>
  </div>